<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IEMenuMaker</title>

    <!-- Bootstrap CSS -->
    @*很奇怪從 Bootstrap 官網 Download 下來複製到本專案，這樣居然無效果
    但是使用 cdn 連結 Bootstrap 就可以，真是怪！？*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" ) />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body class="bg-black">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-gradient p-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index" , "Home" , new { area = ""})">
                <div class="d-flex justify-content-center align-items-center m-auto">
                    @Html.Partial("~/Views/PartialViews/_PartialLogo.cshtml")
                </div>
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index" , "Home" , new { area = "" })">首頁</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index" , "IEMenuMaker" , new { area = "" })">IEMenu 產生器</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("IemuTran" , "IEMenuMaker" , new { area = "" })">編輯 IEMenu</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index" , "IemuTran" , new { area = "" })">編輯 IEMenu</a></li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            基本資料
                        </a>
                        <ul class="dropdown-menu">
                            @*<li><a class="dropdown-item" href="@Url.Action("IemuMainMenu" , "IEMenuMaker" , new { area = "" })">大分類</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("IemuSubMenu" , "IEMenuMaker" , new { area = "" })">中分類</a></li>
                            <li><a class="dropdown-item " href="@Url.Action("IemuDetailMenu" , "IEMenuMaker" , new { area = "" })">細分類</a></li>*@
                            <li><a class="dropdown-item" href="@Url.Action("Index" , "IemuMainMenu" , new { area = "" })">大分類</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index" , "IemuSubMenu" , new { area = "" })">中分類</a></li>
                            <li><a class="dropdown-item " href="@Url.Action("Index" , "IemuDetailMenu" , new { area = "" })">細分類</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">其他</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            表格樣式
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("TableShowStyle_TableHover" , "IEMenuMaker" , new { area = "" })">互動回應</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("TableShowStyle_BorderShadow" , "IEMenuMaker" , new { area = "" })">陰影效果</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">其他</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row mt-5 pt-3">
            <div class="col d-flex justify-content-center align-items-center">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Option 1: Bootstrap Bundle with Popper -->
    @*很奇怪從 Bootstrap 官網 Download 下來複製到本專案，這樣居然無效果
    但是使用 cdn 連結 Bootstrap 就可以，真是怪！？*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
