@model IEnumerable<jb_tools.Models.IemuSubMenus>

@{
    ViewBag.Title = "IEMenu 中分類";
    Layout = "~/Views/Shared/_LayoutIEMenuMaker.cshtml";
}

<!--
    Jacky 1120714 必須加這段 BS5 的標準格式，不然寬度無法放寬到最大，還必須加上 p-0 去除內距，讓寬度高度放到最大
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                ...
            </div>
        </div>
    </div>
-->
<div class="container-fluid p-0">
    <div class="row">
        <div class="col">
            <div class="@ViewBag.tableShowStyle">
                <table class="table table-dark table-striped table-hover table-bordered h-100">
                    <thead class="table-info">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SortNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MainCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ScId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ename)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PosOrPath)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PosOrPath2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remark)
                            </th>
                        </tr>
                    </thead>

                    <tbody class="table-group-divider">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SortNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MainCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ename)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PosOrPath)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PosOrPath2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                @*<td>
                                    @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("明細", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
