@using jb_tools.Models.ViewModel;
@model vmIemuTranDetailCreateEdit

@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_LayoutCardIemuTranDetail.cshtml";
    ActionService.RowId = Model.IemuTranDetailsModel.Id;

    // 取得目前的編輯模式
    var editMode = ViewBag.Action;

    //List<SelectListItem> mainCodeList = new List<SelectListItem>();
    //using (ListItemData listData = new ListItemData())
    //{
    //    mainCodeList = listData.MainCodeList();
    //}
}

<script type="text/javascript">
    $(document).ready(init);

    function init() {
        // 準備 DropDownList 相關資訊
        //PrepareDropDownList();

        // 當網頁上的 DOM 都載入時，第一層下拉選單也呈現出來了
        // ↓顯示第二層下拉選單，沒加這兩段↓的話，第一次網頁載入時第二層下拉選單不會出現

        // 取得第一層選擇的值
        var mainCode = $("select[name = 'IemuTranDetailsModel.MainCode']").val();
        console.log('1 val: mainCode: ' + mainCode);

        // 取得第二層選擇的值
        var scId = $("select[name = 'vmDDLScIdModel.ScId']").val();
        console.log('1 val: scId: ' + scId);

        // 取得第三層選擇的值
        var detailOrder = $("select[name = 'vmDDLDetailOrderModel.DetailOrder']").val();
        console.log('1 val: detailOrder: ' + detailOrder);

        // 為第一層下拉選單註冊 onchange 事件
        $("select[name = 'IemuTranDetailsModel.MainCode']").change(function () {
            // 取得第一層選擇的值
            var mainCode = $(this).val();
            console.log('2 val: mainCode: ' + mainCode);

            // 取得第二層選擇的值
            var scId = '@ViewBag.SelectedScId.ToString()';
            console.log('2 SelectedScId: scId: ' + scId);

            // 取得第二層變數
            var $selectScId = $("select[name = 'vmDDLScIdModel.ScId']");

            // 重新觸發第二層下拉選單
            $selectScId.change();
        });

        // 為第二層下拉選單註冊 onchange 事件
        $("select[name = 'vmDDLScIdModel.ScId']").change(function () {
            // 取得第一層選擇的值
            var mainCode = $("select[name = 'IemuTranDetailsModel.MainCode']").val();
            console.log('3 val: mainCode: ' + mainCode);

            // 取得第二層的值
            var scId = $("select[name = 'vmDDLScIdModel.ScId']").val();
            console.log('3 val: scId: ' + scId);

            // test => print command
            console.log('3 SetSecondDropDownList(' + mainCode + ', ' + scId + ')');

            // 設定第二層下拉選單
            SetSecondDropDownList(mainCode, scId);

            // 取得第三層變數
            var $selectDetailOrder = $("select[name = 'vmDDLDetailOrderModel.DetailOrder']");

            // 重新觸發第三層下拉選單
            $selectDetailOrder.change();
        });

        // 為第三層下拉選單註冊 onchange 事件
        $("select[name = 'vmDDLDetailOrderModel.DetailOrder']").change(function () {
            // 取得第一層選擇的值
            var mainCode = $("select[name = 'IemuTranDetailsModel.MainCode']").val();
            console.log('4 val: mainCode: ' + mainCode);

            // 取得第二層選擇的值
            var scId = $("select[name = 'vmDDLScIdModel.ScId']").val();
            console.log('4 val: scId: ' + scId);

            // 取得第三層選擇的值
            var detailOrder = $("select[name = 'vmDDLDetailOrderModel.DetailOrder']").val();
            console.log('4 val: detailOrder: ' + detailOrder);

            // test => print command
            console.log('4 SetThirdDropDownList(' + mainCode + ', ' + scId + ', ' + detailOrder + ')');

            // 設定第三層下拉選單
            SetThirdDropDownList(mainCode, scId, detailOrder);
            var detailOrder = '@ViewBag.SelectedDetailOrder.ToString()';
            console.log('4 SetThirdDropDownList: detailOrder: ' + detailOrder);
        });
    }

    function SetSecondDropDownList(mainCode, scId) {
        $.ajax({
            catch: false,
            url: '@Url.Action("SetSecondDropDownList", "IemuTranDetail")',
            type: "get",
            data: { mainCode: mainCode, scId: scId },
            async: false,
            success: function (result) {
                $("select[name = 'vmDDLScIdModel.ScId']").empty().html(result);
            }
        });
    }

    function SetThirdDropDownList(mainCode, scId, detailOrder) {
        $.ajax({
            catch: false,
            url: '@Url.Action("SetThirdDropDownList", "IemuTranDetail")',
            type: "get",
            data: { mainCode: mainCode, scId: scId, detailOrder: detailOrder },
            async: false,
            success: function (result) {
                $("select[name = 'vmDDLDetailOrderModel.DetailOrder']").empty().html(result);
            }
        });
    }
</script>

<div class="card mt-5 shadow w-50">
    <div class="card-header text-white bg-primary">
        <div class="d-flex justify-content-center">
            @if (editMode == enAction.Create)
            {
                <h3>編輯 IEMenu - 交易表單 - 明細 - @ActionService.CreateName</h3>
            }
            else
            {
                <h3>編輯 IEMenu - 交易表單 - 明細 - @ActionService.EditName</h3>
            }
        </div>
    </div>
    <div class="card-body pt-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal mt-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.IemuTranDetailsModel.Id)

                @* 單號 *@
                <!--<div class="row form-group mb-1">
                @Html.LabelFor(m => m.IemuTranDetailsModel.No, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">-->
                @* 注意：這裡只能用 readoly 不能用 disabled，因為會被 Form Submit 忽略之，也就是不會傳送至 Server *@
                @* readonly 用法：@readonly = true，但是元素 <SELECT> <OPTION> <BUTTON> 不支援 readonly *@
                @* disabled 用法：disabled = "disabled" *@
                <!--@Html.EditorFor(m => m.IemuTranDetailsModel.No, new { htmlAttributes = new { @class = "form-control readonly_bgc", @readonly = true } })
                        @Html.ValidationMessageFor(m => m.IemuTranDetailsModel.No, "", new { @class = "text-danger" })
                    </div>
                </div>-->
                @* 項次 *@
                <div class="row form-group mb-1">
                    @Html.LabelFor(m => m.IemuTranDetailsModel.Seq, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.IemuTranDetailsModel.Seq, new { htmlAttributes = new { @class = "form-control readonly_bgc", @readonly = true } })
                        @Html.ValidationMessageFor(m => m.IemuTranDetailsModel.Seq, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* 大分類代號 *@
                <div class="row form-group mb-1">
                    @Html.LabelFor(m => m.IemuTranDetailsModel.MainCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @* Jacky 1120807 因為第一層下拉選單內容不會改變，所以這裡直接顯示內容資料即可，不需要以 PartialView 的方式去整合動態資料 *@
                        @Html.DropDownListFor(m => m.IemuTranDetailsModel.MainCode, (IEnumerable<SelectListItem>)Session["FirstLevelItems"], new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IemuTranDetailsModel.MainCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* 中分類識別 *@
                <div class="row form-group mb-1">
                    @Html.LabelFor(m => m.IemuTranDetailsModel.ScId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @* Jacky 1120807 第二層下拉選單內容因為會動態改變，所以這裡必須以 PartialView 的方式去整合動態資料並呈現之 *@
                        @Html.Partial("~/Views/PartialViews/_PartialSetSecondDropDownList.cshtml")
                        @Html.ValidationMessageFor(m => m.IemuTranDetailsModel.ScId, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* 細分類序號 *@
                <div class="row form-group mb-1">
                    @Html.LabelFor(m => m.IemuTranDetailsModel.DetailOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @* Jacky 1120807 第三層下拉選單內容因為會動態改變，所以這裡必須以 PartialView 的方式去整合動態資料並呈現之 *@
                        @Html.Partial("~/Views/PartialViews/_PartialSetThirdDropDownList.cshtml")
                        @Html.ValidationMessageFor(m => m.IemuTranDetailsModel.DetailOrder, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* 備註 *@
                <div class="row form-group">
                    @Html.LabelFor(m => m.IemuTranDetailsModel.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.IemuTranDetailsModel.Remark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.IemuTranDetailsModel.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />
                <div class="row form-group mt-2">
                    <div class="col-12">
                        <input type="submit" value="確認編輯" class="btn btn-primary" title="確認編輯" />
                        @Html.ActionLink(ActionService.Return, ActionService.Index, ActionService.Controller,
                            new { area = "", id = ActionService.RowId },
                            new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

