@* Jacky 1120719 設定刪除按鈕 *@
@*<input type="button" id="@ActionService.Delete" value="@ActionService.DeleteName" class="btn btn-sm btn-danger border-info"
    onclick="DeleteData(@ActionService.RowId , '@ActionService.RowData');" />*@

@* Jacky 1120720 改用 fontawesone 圖示顯示 *@
<a class="btn btn-sm btn-danger border-info" href="#" 
        accesskey="L" alt="刪除 (Alt + L)" title="刪除 (Alt + L)" 
        onclick="DeleteData(@ActionService.RowId, '@ActionService.RowData');">
    <i class="fas fa-trash-alt fa-lg"></i>
</a>

<script>
    function DeleteData(id, data) {
        var message = '是否確定要刪除';
        if (!!data) {
            message += ' [' + data + '] ?'
        }
        else {
            message += '此筆資料?'
        }

        Swal.fire({
            title: "<strong>您確定要刪除？</strong>",
            text: message,
            icon: 'question',
            showCancelButton: true,
            focusConfirm: false,
            //closeOnConfirm: false,    Jacky 1120729 查的結果沒有這個屬性
            confirmButtonText: '<i class="fas fa-check pe-2"></i>確定',
            cancelButtonText: '<i class="fas fa-times pe-2"></i>取消',
        }).then(function (result) {
            if (result.isConfirmed) {
                $.ajax({
                    url: "@Url.Action(ActionService.Delete, ActionService.Controller, new { area = "" })",
                    data: { "id": id },
                    type: "POST",
                    dataType: "json",
                }).done(function (value) {
                    if (value.Mode == true) {
                        Swal.fire({
                            title: "<strong>提示訊息</strong>",
                            text: value.Message,
                            icon: 'success',
                            showCancelButton: false,
                            focusConfirm: true,
                            confirmButtonText: '<i class="fas fa-check pe-2"></i>確定',
                        }).then(function (result) {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action(ActionService.Index, ActionService.Controller, new { area = "" })';
                            }
                        });
                    }
                    else {
                        Swal.fire('錯誤訊息', value.Message , 'error');
                    }
                    }).fail(function (err) {
                        Swal.fire('錯誤訊息', err, 'error');
                        console.log(err);
                });
            }
        });
    }
</script>
