@using jb_tools.Models.ViewModel;

@* Jacky 1120726 分頁模式 *@
@* Jacky 1120730 List<T> 與 IPagedList<T> 的結合 Model *@
@model vmIemuTranModel

@{
    ViewBag.Title = "編輯 IEMenu";
    Layout = "~/Views/Shared/_LayoutIEMenuMaker2.cshtml";
    ViewBag.FunctionAreaTitle = ViewBag.Title;

    // Jacky 1120725 三個點的表身細項
    ViewBag.ThreeDotsTargetController = "IemuTranSub";
    ViewBag.ThreeDotsTargetAction = "Index";
}

@section styles {
    @* Jacky 1120726 for 分頁模式專用的 CSS (注意：這裡所使用的是 PagedList_Jacky.css 因為有做微調) *@
    <link href="~/Content/PagedList_Jacky.css" rel="stylesheet" />
}

@section functionAreaRight {
    @* Jacky 1120726 for 分頁模式 *@
    @if (Model.IemuTransPLModel.Count() > 0)
    {
        @Html.PagedListPager(Model.IemuTransPLModel, page => Url.Action("Index", new { page }))
    }
}

<div class="container-fluid p-1 contentArea1">
    <div class="row">
        <div class="col">
            <div class="@ViewBag.TableShowStyle">
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead class="table-info align-middle">
                        <tr>
                            <th>
                                <div class="mx-1">
                                    @Html.Partial("~/Views/PartialViews/_PartialFormCreate.cshtml")
                                </div>
                            </th>
                            <th class="tableTitle px-1">
                                @Html.DisplayNameFor(model => Model.IemuTransModel.FirstOrDefault().No)
                            </th>
                            <th class="tableTitle px-1">
                                @Html.DisplayNameFor(model => Model.IemuTransModel.FirstOrDefault().Date)
                            </th>
                            <th class="tableTitle px-1">
                                @Html.DisplayNameFor(model => Model.IemuTransModel.FirstOrDefault().Status)
                            </th>
                            <th class="tableTitle px-1">
                                @Html.DisplayNameFor(model => Model.IemuTransModel.FirstOrDefault().CuNo)
                            </th>
                            <th class="tableTitle px-1">
                                @Html.DisplayNameFor(model => Model.IemuTransModel.FirstOrDefault().CuSale)
                            </th>
                            <th class="tableTitle px-1">
                                @Html.DisplayNameFor(model => Model.IemuTransModel.FirstOrDefault().IndustryNo)
                            </th>
                            <th class="tableTitle px-1">
                                @Html.DisplayNameFor(model => Model.IemuTransModel.FirstOrDefault().Remark)
                            </th>
                        </tr>
                    </thead>

                    <tbody class="table-group-divider">
                        @foreach (var item in Model.IemuTransModel)
                        {
                            ActionService.RowId = item.Id;
                            ActionService.RowData = $"單號 {item.No}";
                            <tr>
                                <td>
                                    <div class="m-1 float-start">
                                        @Html.Partial("~/Views/PartialViews/_PartialFormEdit.cshtml")
                                    </div>
                                    <div class="m-1 float-start">
                                        @Html.Partial("~/Views/PartialViews/_PartialFormDelete.cshtml")
                                    </div>
                                    <div class="m-1 float-start">
                                        @Html.Partial("~/Views/PartialViews/_PartialFormThreeDots.cshtml")
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)&nbsp;&nbsp;@Html.DisplayFor(modeItem => item.CodeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CuNo)&nbsp;&nbsp;@Html.DisplayFor(modeItem => item.cu_na)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CuSale)&nbsp;&nbsp;@Html.DisplayFor(modeItem => item.cu_snam)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IndustryNo)&nbsp;&nbsp;@Html.DisplayFor(modeItem => item.IndustryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
